body {
  background: linear-gradient(#99ff7d, #7dffd6, #7deeff, #7d9cff);
  background-repeat: no-repeat;
  height: 800vh; }

header {
  background-color: red;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
  margin: 20px; }
