@import "variables/var.scss";

//global
body{
  background: linear-gradient($green, $bluegreen, $lightblue, $blue);
  background-repeat: no-repeat;
  height: 400vh;
}

header {
  background-color: white;
  
}
