@import "variables/var.scss";


.logo-row{
  @include flex(1, row, wrap, center, center);
  padding: 150px 0 160px 0;
  .logo-container{
    @include size(300, 500);
  }
}

.about-row{
  @include flex(1, row, wrap, center, center);
  // display: flex;
  // flex: 1;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-content: center;
  .about-container{
    background-color: white;
    @include border-radius(10px);
    p, h2{
      padding: 30px;
    }
  }
}

.gal-row{
  padding-bottom: 0;
}

.gal-btn-row{
  padding-top: 0;
  .gal-btn-container{
    width: 15%;
    .galery-button{
      background: linear-gradient(to right, $green, $bluegreen, $lightblue, $blue);
      text-align: center;
      padding: 50px 0 50px 0;
      p{
        font-size: 3em;
        font-weight: bold;
      }
    }
  }
}
