@import "variables/var.scss";


.logo-row{
  @include flex(1, row, wrap, center, center);
  padding: 150px 0 160px 0;
  .logo-container{
    @include size(300, 500);
  }
}

.about-row{
  @include flex(1, row, wrap, center, center);
  // display: flex;
  // flex: 1;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-content: center;
  .about-container{
    background-color: white;
    @include border-radius(10px);
    >p{
      padding: 30px;
    }
  }
}

.gal-btn-row{
  .gal-btn-container{
    .galery-button{
      background: linear-gradient(to right, $green, $bluegreen, $lightblue, $blue);
    }
  }
}
